* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #212121;
}

a {
  color: inherit;
  text-decoration: none;
}

.home-sec::after {
  content: ' ';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 150vw;
  height: 100%;
  z-index: -10;
  background-color: rgba(0, 0, 0, 0.7);
}
.my-skills::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

@keyframes slideX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slideTitleRight {
  0% {
    transform: translateX(-550%);
    opacity: 0;
  }
  95% {
    transform: translateX(20%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes bounceImage {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5%);
  }
}
